<button class="back-button" (click)="goBack()"> <img src="../../../../assets/back-img.jpg" class="back-icon"> </button>
<div class="text-center" >

   
        <h2 class="name-card" >{{cardOne.name}}</h2>
        <img src="{{cardOne.img}}">
        <hr>
        <br>
        <br>
        <button class="btn-higher" id="btn-higher"  (click)="compareCards('mayor')">Mayor</button>
        <button class="btn-lower" id="btn-lower"  (click)="compareCards('menor')">Menor</button>

        <div class="mt-5">
            <img class="size-card"  *ngIf="!viewCard"
                src="../../../../assets/mayorOMenor/reverseCard.png">
        </div>
        <div *ngIf="viewCard">
            <h2 style="color: white;">Image Compare</h2>
            <h2 style="color: white;">{{cardTwo.name}}</h2>
            <img src="{{cardTwo.img}}">
        </div>

        <h3 class="btn-message mt-5"  >{{messageResult}}</h3>
        <h4 style="color: white;">Score : {{score}}</h4>




    <button class="btn-start" *ngIf="!stateStart" (click)="start()">Play Game</button>
</div>