<section class="section about-section" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse border-white">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color">About Me</h3>
                    <h6 class="theme-color lead">Desarrollador de Front-end y estudiante de la UTN</h6>
                    <p>Mi nombre es Lautaro Nahuel Garcia.<br>Me <span>especializo en el desarrollo de aplicaciones web</span>.
                        Soy una persona autodidacta  y me gustan los desafios.</p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Fecha de nacimiento</label>
                                <p>6 de septiembre de 2003</p>
                            </div>
                            <div class="media">
                                <label>Edad</label>
                                <p>20 Años</p>
                            </div>
                            <div class="media">
                                <label>Residencia</label>
                                <p>Argentina</p>
                            </div>
                            <div class="media">
                                <label>Direccion</label>
                                <p>Buenos Aires, Lanus</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>Mail</label>
                                <p>lauti1718garcia&#64;gmail.com</p>
                            </div>
                            <div class="media">
                                <label>Telefono</label>
                                <p>11-2347-1710</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="../../../assets/icon-github.png" alt="img-user">
                </div>
            </div>
        </div>

        <div class="my-game">
            <h2 >Mi juego</h2>
            <h3>Buscaminas</h3>
            <p>Buscaminas es un juego de rompecabezas estratégico en el que descubres minas ocultas en una cuadrícula haciendo clic en cuadrados. Cada
                El cuadrado revela una ficha segura o una mina. Utilice los números revelados para deducir la ubicación de los alrededores.
                minas, pero ten cuidado: ¡al activar una mina finaliza el juego! Tienes que limpiar el campo minado sin
                detonar cualquier mina. ¡Buena suerte!</p>
        </div>
    </div>

</section>