<div class="content">
    <div class="navbar">
        <div class="navbar-buttons">
            <button routerLink="home" routerLinkActive="active-route"> Home</button>
            <button routerLink="aboutMe" routerLinkActive="active-route"> Acerca de MI</button>
        </div>

        <div class="navbar-center">
            <div class="navbar-brand">Sala de Juegos</div>
        </div>

        <div class="navbar-buttons">
            <button routerLink="login" routerLinkActive="active-route"> Login</button>
            <button routerLink="register" routerLinkActive="active-route"> Registrarse</button>     
            <!-- <button> Log Out</button> -->
        </div>
    </div>
    <router-outlet />
</div>


